# Handling Missing Values (part - 5)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('E:\\ML\\annualenterprise.csv')
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),NaN,"Sales, government funding, grants and subsidies",Financial performance,"6,60,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),NaN,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,Not avalable,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,No values,All industries,Dollars (millions),NaN,Total expenditure,Financial performance,"6,54,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [3]:
#  NAN (NOT A NUMBER) NULL Value

In [4]:
df = pd.read_csv('E:\\ML\\annualenterprise.csv', na_values =['Not avalable','No values'])
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),NaN,"Sales, government funding, grants and subsidies",Financial performance,"6,60,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),NaN,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),NaN,Total expenditure,Financial performance,"6,54,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [5]:
df = pd.read_csv('E:\\ML\\annualenterprise.csv', na_values ={'Industry_code_NZSIOC':'Not avalable'}) #collum wise
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),NaN,"Sales, government funding, grants and subsidies",Financial performance,"6,60,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),NaN,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,No values,All industries,Dollars (millions),NaN,Total expenditure,Financial performance,"6,54,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [6]:
df = pd.read_csv('E:\\ML\\annualenterprise.csv')
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),NaN,"Sales, government funding, grants and subsidies",Financial performance,"6,60,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),NaN,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,Not avalable,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,No values,All industries,Dollars (millions),NaN,Total expenditure,Financial performance,"6,54,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [7]:
df = pd.read_csv('E:\\ML\\annualenterprise.csv', keep_default_na = False)
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),,"Sales, government funding, grants and subsidies",Financial performance,"6,60,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NULL,All industries,Dollars (millions),,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,Not avalable,All industries,Dollars (millions),,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,No values,All industries,Dollars (millions),,Total expenditure,Financial performance,"6,54,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [8]:
# na_filter = False (If no NAN Value are there in the csv File (This boost the Preformance+))

In [9]:
df = pd.read_csv('E:\\ML\\annualenterprise.csv')
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),NaN,"Sales, government funding, grants and subsidies",Financial performance,"6,60,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),NaN,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),NaN,Total expenditure,Financial performance,"6,54,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [10]:
df.isnull()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False
2,False,False,True,False,False,True,False,False,False,False
3,False,False,True,False,False,True,False,False,False,False
4,False,False,True,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
37075,False,False,False,False,False,False,False,False,False,False
37076,False,False,False,False,False,False,False,False,False,False
37077,False,False,False,False,False,False,False,False,False,False
37078,False,False,False,False,False,False,False,False,False,False
37079,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

Year                            0
Industry_aggregation_NZSIOC     0
Industry_code_NZSIOC            3
Industry_name_NZSIOC            0
Units                          10
Variable_code                  13
Variable_name                   0
Variable_category               0
Value                           0
Industry_code_ANZSIC06          0
dtype: int64

In [17]:
df.isnull().sum().sum()

26

In [18]:
df.notnull()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,False,True,True,True,True
2,True,True,False,True,True,False,True,True,True,True
3,True,True,False,True,True,False,True,True,True,True
4,True,True,False,True,True,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
37075,True,True,True,True,True,True,True,True,True,True
37076,True,True,True,True,True,True,True,True,True,True
37077,True,True,True,True,True,True,True,True,True,True
37078,True,True,True,True,True,True,True,True,True,True
37079,True,True,True,True,True,True,True,True,True,True

In [19]:
df.notnull().sum()

Year                           37080
Industry_aggregation_NZSIOC    37080
Industry_code_NZSIOC           37077
Industry_name_NZSIOC           37080
Units                          37070
Variable_code                  37067
Variable_name                  37080
Variable_category              37080
Value                          37080
Industry_code_ANZSIC06         37080
dtype: int64

# Series

In [21]:
import numpy as np
sr = pd.Series([1,2,3,np.nan,4,np.NAN])
sr

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    NaN
dtype: float64

In [22]:
sr.isnull()

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [23]:
sr.isnull().sum()

2

# dropna()

In [25]:
df = pd.read_csv('E:\\ML\\annualenterprise.csv')
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),NaN,"Sales, government funding, grants and subsidies",Financial performance,"6,60,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,NaN,All industries,Dollars (millions),NaN,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,NaN,All industries,Dollars (millions),NaN,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,NaN,All industries,Dollars (millions),NaN,Total expenditure,Financial performance,"6,54,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [26]:
df.dropna()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
6,2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...
7,2020,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"26,821",ANZSIC06 divisions A-S (excluding classes K633...
8,2020,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"1,19,387",ANZSIC06 divisions A-S (excluding classes K633...
9,2020,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,305,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [27]:
df.dropna(axis = 1)

,Year,Industry_aggregation_NZSIOC,Industry_name_NZSIOC,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,All industries,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,All industries,"Sales, government funding, grants and subsidies",Financial performance,"6,60,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,All industries,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,All industries,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,All industries,Total expenditure,Financial performance,"6,54,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...
37075,2013,Level 3,Food product manufacturing,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,Food product manufacturing,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,Food product manufacturing,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,Food product manufacturing,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,Food product manufacturing,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [28]:
df.dropna(how = 'any')

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
6,2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...
7,2020,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"26,821",ANZSIC06 divisions A-S (excluding classes K633...
8,2020,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"1,19,387",ANZSIC06 divisions A-S (excluding classes K633...
9,2020,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,305,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [29]:
df.dropna(axis=1,how = 'any')

,Year,Industry_aggregation_NZSIOC,Industry_name_NZSIOC,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,All industries,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,All industries,"Sales, government funding, grants and subsidies",Financial performance,"6,60,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,All industries,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,All industries,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,All industries,Total expenditure,Financial performance,"6,54,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...
37075,2013,Level 3,Food product manufacturing,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,Food product manufacturing,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,Food product manufacturing,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,Food product manufacturing,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,Food product manufacturing,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [34]:
df.dropna(thresh = 10 )

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
6,2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...
7,2020,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"26,821",ANZSIC06 divisions A-S (excluding classes K633...
8,2020,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"1,19,387",ANZSIC06 divisions A-S (excluding classes K633...
9,2020,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,305,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [35]:
df.dropna(subset = ['Industry_code_NZSIOC'])

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),NaN,"Sales, government funding, grants and subsidies",Financial performance,"6,60,630",ANZSIC06 divisions A-S (excluding classes K633...
5,2020,Level 1,99999,All industries,Dollars (millions),NaN,Interest and donations,Financial performance,"32,730",ANZSIC06 divisions A-S (excluding classes K633...
6,2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...
7,2020,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"26,821",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [37]:
df.dropna(inplace = True)
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,33,258",ANZSIC06 divisions A-S (excluding classes K633...
6,2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...
7,2020,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"26,821",ANZSIC06 divisions A-S (excluding classes K633...
8,2020,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"1,19,387",ANZSIC06 divisions A-S (excluding classes K633...
9,2020,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,305,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."