#  Pandas join() (Path-12)

# DataFrame join is a convenient method for combinig the columns of two potentially differently-indexed.

# syntax = df.join()

In [3]:
import pandas as pd

In [8]:
df1 = pd.DataFrame({'A': [1,2,3],'B': [10,20,30]}, index = ['a','b','c'])
df2 =pd.DataFrame({'C':[1,2,3], 'D':[40,50,60]}, index = ['a','b','c'])

display(df1,df2)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
a  1  40
b  2  50
c  3  60

In [9]:
df1.join(df2)

   A   B  C   D
a  1  10  1  40
b  2  20  2  50
c  3  30  3  60

In [10]:
df1.join(df2 , how = 'right')

   A   B  C   D
a  1  10  1  40
b  2  20  2  50
c  3  30  3  60