# Pandas loc and iloc (Part - 8)

#  loc -> Access a group of row & coloumns by label(s) or a boolean array.

# Syntax: DataFrame.loc[]

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('E:\\ML\\locANDiloc.csv')
df

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
0        1001     10          2                       3          50
1        1002     10          6                       2          80
2        1003     10          3                       2          60
3        1004     10          0                       1          45
4        1005     10          5                       2          75

In [8]:
df.loc[0]

Student ID                1001
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percentage                  50
Name: 0, dtype: int64

In [9]:
df.loc[4]

Student ID                1005
Class                       10
Study hrs                    5
Social Media usage hrs       2
Percentage                  75
Name: 4, dtype: int64

In [10]:
df.loc[[0,1]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
0        1001     10          2                       3          50
1        1002     10          6                       2          80

In [12]:
df.loc[4,'Class']

10

In [13]:
df.loc[0:3,'Class']

0    10
1    10
2    10
3    10
Name: Class, dtype: int64

In [14]:
df.loc[0:3,'Percentage']

0    50
1    80
2    60
3    45
Name: Percentage, dtype: int64

In [18]:
# df.loc[[False, False, True]]

In [19]:
df.loc[df['Percentage'] < 60]

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
0        1001     10          2                       3          50
3        1004     10          0                       1          45

# iloc[] -> Integer location-based indexing 

# Syntax: DataFrame.iloc[]

In [21]:
df.iloc[0]

Student ID                1001
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percentage                  50
Name: 0, dtype: int64

In [22]:
df.iloc[[0]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
0        1001     10          2                       3          50

In [23]:
df.iloc[:,0]

0    1001
1    1002
2    1003
3    1004
4    1005
Name: Student ID, dtype: int64

In [25]:
df.iloc[[0,1]]

   Student ID  Class  Study hrs  Social Media usage hrs  Percentage
0        1001     10          2                       3          50
1        1002     10          6                       2          80