# String Operations , Comparison and information

In [1]:
import numpy as np

In [2]:
ch_name = "Subha Ranjan Sahoo"
str1 = "Learning Python Numpy"

In [4]:
np.char.add(ch_name, str1)

array('Subha Ranjan SahooLearning Python Numpy', dtype='<U39')

In [5]:
np.char.lower(ch_name)

array('subha ranjan sahoo', dtype='<U18')

In [6]:
np.char.upper(ch_name)

array('SUBHA RANJAN SAHOO', dtype='<U18')

In [7]:
np.char.center(str1, 60)

array('                   Learning Python Numpy                    ',
      dtype='<U60')

In [8]:
np.char.center(str1,60,fillchar="-")

array('-------------------Learning Python Numpy--------------------',
      dtype='<U60')

In [9]:
np.char.split(ch_name)

array(list(['Subha', 'Ranjan', 'Sahoo']), dtype=object)

In [10]:
np.char.splitlines("hello\nIndian")

array(list(['hello', 'Indian']), dtype=object)

In [12]:
str4="dmy"
str5="dmy"

In [13]:
np.char.join([":","/"],[str4,str5])

array(['d:m:y', 'd/m/y'], dtype='<U5')

In [14]:
np.char.replace(ch_name,"Subha","Satya")

array('Satya Ranjan Sahoo', dtype='<U18')

In [15]:
np.char.equal(str5,str4)

array(True)

In [16]:
np.char.count(ch_name,"a")

array(4)

In [17]:
np.char.find(ch_name,"ranjan")

array(-1)